@charset "utf-8";

/* fonts start */
@import url("https://fast.fonts.net/lt/1.css?apiType=css&c=de82f655-0e98-4b3b-b570-770f4c0e3623&fontids=6005180,6005194,6005206,6005218,6005230,6005241,6005253,6005265,6005276,6005286,6005298,6005310,6005322,6005334");

@font-face{
	font-family:"Century Gothic W05 Thin";
	src:url("../digital_showroom/fonts/century/6005180/151b2086-1991-4624-a1b6-13926a20cd2f.woff2") format("woff2"),url("../digital_showroom/fonts/century/6005180/a59ba227-30f8-42e1-aae1-508b92a98472.woff") format("woff");
}
@font-face{
	font-family:"Century Gothic W05 Thin Italic";
	src:url("../digital_showroom/fonts/century/6005194/2f150b9f-d019-4f21-a6b8-42ffaae73306.woff2") format("woff2"),url("../digital_showroom/fonts/century/6005194/fa69fee8-e976-4117-adae-179ff8c7f710.woff") format("woff");
}
@font-face{
	font-family:"Century Gothic W05 Light";
	src:url("../digital_showroom/fonts/century/6005206/35cd8801-f350-4cb6-9453-7a6b3b71f79e.woff2") format("woff2"),url("../digital_showroom/fonts/century/6005206/02dc229e-a425-497c-a968-8a87229f68c0.woff") format("woff");
}
@font-face{
	font-family:"Century Gothic W05 Light Itali";
	src:url("../digital_showroom/fonts/century/6005218/a232bb64-e6bd-4d72-a3fd-85876d3662b1.woff2") format("woff2"),url("../digital_showroom/fonts/century/6005218/c0f416b9-5a3f-4c3c-932f-02685c5cd82b.woff") format("woff");
}
@font-face{
	font-family:"Century Gothic W05 Regular";
	src:url("../digital_showroom/fonts/century/6005230/f511511a-63a8-45a4-8f43-959006da1991.woff2") format("woff2"),url("../digital_showroom/fonts/century/6005230/1cc7d3a1-9616-489b-b078-fa3c4799cd8a.woff") format("woff");
}
@font-face{
	font-family:"Century Gothic W05 Italic";
	src:url("../digital_showroom/fonts/century/6005241/0dff58b7-4281-4bc5-bd83-3b5915daa86e.woff2") format("woff2"),url("../digital_showroom/fonts/century/6005241/4ce874a4-dfd5-41c3-8668-c77b015ab055.woff") format("woff");
}
@font-face{
	font-family:"Century Gothic W05 SemiBold";
	src:url("../digital_showroom/fonts/century/6005253/7aa1a932-4348-4bd8-aefb-42b044797852.woff2") format("woff2"),url("../digital_showroom/fonts/century/6005253/50f194ac-f671-4682-8636-5a8c45eba9ba.woff") format("woff");
}
@font-face{
	font-family:"Century Gothic W05 SemiBold It";
	src:url("../digital_showroom/fonts/century/6005265/5da7c97b-e728-4741-9884-519c7f1053a7.woff2") format("woff2"),url("../digital_showroom/fonts/century/6005265/2392e225-6580-4e4f-b3e0-ad6b894ed2f9.woff") format("woff");
}
@font-face{
	font-family:"Century Gothic W05 Bold";
	src:url("../digital_showroom/fonts/century/6005276/b12fce6d-1212-4e0a-8d70-d15379749cb9.woff2") format("woff2"),url("../digital_showroom/fonts/century/6005276/04298db1-df5a-4858-9cb9-3990c5547fb2.woff") format("woff");
}
@font-face{
	font-family:"Century Gothic W05 Bold Italic";
	src:url("../digital_showroom/fonts/century/6005286/3279c216-0212-4ef7-ac3a-02e24b302c90.woff2") format("woff2"),url("../digital_showroom/fonts/century/6005286/d3b91ac2-9291-4250-859b-f1be7f25f938.woff") format("woff");
}
@font-face{
	font-family:"Century Gothic W05 ExtraBold";
	src:url("../digital_showroom/fonts/century/6005298/4fbe9e5f-cd2e-46ab-99d5-a4fc155d249a.woff2") format("woff2"),url("../digital_showroom/fonts/century/6005298/5ec6feaa-1aa2-4631-9b5e-7c6982ce0e7c.woff") format("woff");
}
@font-face{
	font-family:"Century Gothic W05 ExtraBold I";
	src:url("../digital_showroom/fonts/century/6005310/53d9538b-2db5-48c4-adcc-a83000118d54.woff2") format("woff2"),url("../digital_showroom/fonts/century/6005310/70f0cc1c-6031-4150-b400-f710bcc3652e.woff") format("woff");
}
@font-face{
	font-family:"Century Gothic W05 Black";
	src:url("../digital_showroom/fonts/century/6005322/a5a5fbdb-dfc6-4fcb-9882-cff3422f37ac.woff2") format("woff2"),url("../digital_showroom/fonts/century/6005322/0e259a67-afaa-4287-a610-88a14faae369.woff") format("woff");
}
@font-face{
	font-family:"Century Gothic W05 Black Itali";
	src:url("../digital_showroom/fonts/century/6005334/59ce9b2e-9aa9-43db-83de-c1ba77e081db.woff2") format("woff2"),url("../digital_showroom/fonts/century/6005334/b08f19e7-c39f-48db-a0a4-9ed9b7eb7948.woff") format("woff");
}

@font-face {
  font-family: 'Gotham';
  src: url('../digital_showroom/fonts/Gotham-Bold.eot');
  src: url('../digital_showroom/fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'), url('../digital_showroom/fonts/Gotham-Bold.woff2') format('woff2'),
    url('../digital_showroom/fonts/Gotham-Bold.woff') format('woff'), url('../digital_showroom/fonts/Gotham-Bold.otf') format('opentype'), url('../digital_showroom/fonts/Gotham-Bold.svg#Gotham') format('svg');
}
@font-face {
  font-family: 'Gotham-Regular';
  src: url('../digital_showroom/fonts/Gotham-Bold.eot');
  src: url('../digital_showroom/fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'), url('../digital_showroom/fonts/Gotham-Bold.woff2') format('woff2'),
    url('../digital_showroom/fonts/Gotham-Bold.woff') format('woff'), url('../digital_showroom/fonts/Gotham-Bold.otf') format('opentype'), url('../digital_showroom/fonts/Gotham-Bold.svg#Gotham') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham-Logo';
  src: url('../digital_showroom/fonts/Gotham-Bold.eot');
  src: url('../digital_showroom/fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'), url('../digital_showroom/fonts/Gotham-Bold.woff2') format('woff2'),
    url('../digital_showroom/fonts/Gotham-Bold.woff') format('woff'), url('../digital_showroom/fonts/Gotham-Bold.otf') format('opentype'), url('../digital_showroom/fonts/Gotham-Bold.svg#Gotham') format('svg');
  unicode-range: U+67, U+6C, U+6F, U+2122;
}
@font-face {
  font-family: 'Gotham-Medium';
  src: url('../digital_showroom/fonts/Gotham-Medium.eot');
  src: url('../digital_showroom/fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'), url('../digital_showroom/fonts/Gotham-Medium.woff2') format('woff2'),
    url('../digital_showroom/fonts/Gotham-Medium.woff') format('woff'), url('../digital_showroom/fonts/Gotham-Medium.ttf') format('truetype'),
    url('../digital_showroom/fonts/Gotham-Medium.svg#Gotham-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham-Regular';
  src: url('../digital_showroom/fonts/Gotham-Medium.eot');
  src: url('../digital_showroom/fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'), url('../digital_showroom/fonts/Gotham-Medium.woff2') format('woff2'),
    url('../digital_showroom/fonts/Gotham-Medium.woff') format('woff'), url('../digital_showroom/fonts/Gotham-Medium.ttf') format('truetype'),
    url('../digital_showroom/fonts/Gotham-Medium.svg#Gotham-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham-Medium-Bold';
  src: url('../digital_showroom/fonts/Gotham-Medium.eot');
  src: url('../digital_showroom/fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'), url('../digital_showroom/fonts/Gotham-Medium.woff2') format('woff2'),
    url('../digital_showroom/fonts/Gotham-Medium.woff') format('woff'), url('../digital_showroom/fonts/Gotham-Medium.ttf') format('truetype'),
    url('../digital_showroom/fonts/Gotham-Medium.svg#Gotham-Medium') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham-Medium-Logo';
  src: url('../digital_showroom/fonts/Gotham-Medium.eot');
  src: url('../digital_showroom/fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'), url('../digital_showroom/fonts/Gotham-Medium.woff2') format('woff2'),
    url('../digital_showroom/fonts/Gotham-Medium.woff') format('woff'), url('../digital_showroom/fonts/Gotham-Medium.ttf') format('truetype'),
    url('../digital_showroom/fonts/Gotham-Medium.svg#Gotham-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
  unicode-range: U+67, U+6C, U+6F, U+2122;
}
@font-face {
  font-family: 'Gotham-Book';
  src: url('../digital_showroom/fonts/Gotham-Book.eot');
  src: url('../digital_showroom/fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'), url('../digital_showroom/fonts/Gotham-Book.woff2') format('woff2'),
    url('../digital_showroom/fonts/Gotham-Book.woff') format('woff'), url('../digital_showroom/fonts/Gotham-Book.ttf') format('truetype'), url('../digital_showroom/fonts/Gotham-Book.svg#Gotham') format('svg');
}
@font-face {
  font-family: 'Gotham-Regular';
  src: url('../digital_showroom/fonts/Gotham-Book.eot');
  src: url('../digital_showroom/fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'), url('../digital_showroom/fonts/Gotham-Book.woff2') format('woff2'),
    url('../digital_showroom/fonts/Gotham-Book.woff') format('woff'), url('../digital_showroom/fonts/Gotham-Book.ttf') format('truetype'), url('../digital_showroom/fonts/Gotham-Book.svg#Gotham') format('svg');
}
@font-face {
  font-family: 'Gotham-Book-Logo';
  src: url('../digital_showroom/fonts/Gotham-Book.eot');
  src: url('../digital_showroom/fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'), url('../digital_showroom/fonts/Gotham-Book.woff2') format('woff2'),
    url('../digital_showroom/fonts/Gotham-Book.woff') format('woff'), url('../digital_showroom/fonts/Gotham-Book.ttf') format('truetype'), url('../digital_showroom/fonts/Gotham-Book.svg#Gotham') format('svg');
  unicode-range: U+67, U+6C, U+6F, U+2122;
}

@font-face {
  font-family: 'GothamBlack';
  src: url('../digital_showroom/fonts/GothamBlack.eot');
  src: url('../digital_showroom/fonts/GothamBlack.eot?#iefix') format('embedded-opentype'), url('../digital_showroom/fonts/GothamBlack.woff2') format('woff2'),
    url('../digital_showroom/fonts/GothamBlack.woff') format('woff'), url('../digital_showroom/fonts/GothamBlack.otf') format('opentype'), url('../digital_showroom/fonts/GothamBlack.svg#Gotham') format('svg');
}
@font-face {
  font-family: 'GothamExtraLight';
  src: url('../digital_showroom/fonts/GothamExtraLight.eot');
  src: url('../digital_showroom/fonts/GothamExtraLight.eot?#iefix') format('embedded-opentype'), url('../digital_showroom/fonts/GothamExtraLight.woff2') format('woff2'),
    url('../digital_showroom/fonts/GothamExtraLight.woff') format('woff'), url('../digital_showroom/fonts/GothamExtraLight.otf') format('opentype'), url('../digital_showroom/fonts/GothamExtraLight.svg#Gotham') format('svg');
}
@font-face {
  font-family: 'GothamLight';
  src: url('../digital_showroom/fonts/GothamLight.eot');
  src: url('../digital_showroom/fonts/GothamLight.eot?#iefix') format('embedded-opentype'), url('../digital_showroom/fonts/GothamLight.woff2') format('woff2'),
    url('../digital_showroom/fonts/GothamLight.woff') format('woff'), url('../digital_showroom/fonts/GothamLight.otf') format('opentype'), url('../digital_showroom/fonts/GothamLight.svg#Gotham') format('svg');
}
@font-face {
  font-family: 'GothamThin';
  src: url('../digital_showroom/fonts/GothamThin.eot');
  src: url('../digital_showroom/fonts/GothamThin.eot?#iefix') format('embedded-opentype'), url('../digital_showroom/fonts/GothamThin.woff2') format('woff2'),
    url('../digital_showroom/fonts/GothamThin.woff') format('woff'), url('../digital_showroom/fonts/GothamThin.otf') format('opentype'), url('../digital_showroom/fonts/GothamThin.svg#Gotham') format('svg');
}

@font-face {
    font-family: 'notokr';
    src: url('../digital_showroom/fonts/notokr-light.eot');
    src: url('../digital_showroom/fonts/notokr-light.eot?#iefix') format('embedded-opentype'), url('../digital_showroom/fonts/notokr-light.woff2') format('woff2'),
      url('../digital_showroom/fonts/notokr-light.woff') format('woff'), url('../digital_showroom/fonts/notokr-light.ttf') format('truetype'),
      url('../digital_showroom/fonts/notokr-light.svg#notokr-light') format('svg');
    font-weight: 300;
    font-style: normal;
  }

@font-face {
  font-family: 'notokr';
  src: url('../digital_showroom/fonts/notokr-regular.eot');
  src: url('../digital_showroom/fonts/notokr-regular.eot?#iefix') format('embedded-opentype'), url('../digital_showroom/fonts/notokr-regular.woff2') format('woff2'),
    url('../digital_showroom/fonts/notokr-regular.woff') format('woff'), url('../digital_showroom/fonts/notokr-regular.ttf') format('truetype'),
    url('../digital_showroom/fonts/notokr-regular.svg#notokr-regular') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'notokr';
  src: url('../digital_showroom/fonts/notokr-medium.eot');
  src: url('../digital_showroom/fonts/notokr-medium.eot?#iefix') format('embedded-opentype'), url('../digital_showroom/fonts/notokr-medium.woff2') format('woff2'),
    url('../digital_showroom/fonts/notokr-medium.woff') format('woff'), url('../digital_showroom/fonts/notokr-medium.ttf') format('truetype'),
    url('../digital_showroom/fonts/notokr-medium.svg#notokr-bold') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
    font-family: 'notokr';
    src: url('../digital_showroom/fonts/notokr-bold.eot');
    src: url('../digital_showroom/fonts/notokr-bold.eot?#iefix') format('embedded-opentype'),
    url('../digital_showroom/fonts/notokr-bold.woff2') format('woff2'),
    url('../digital_showroom/fonts/notokr-bold.woff') format('woff'), 
    url('../digital_showroom/fonts/notokr-bold.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
  }

@font-face {
  font-family: 'notokr-bold';
  src: url('../digital_showroom/fonts/NotoSansKR-Bold-Hestia.eot');
  src: url('../digital_showroom/fonts/NotoSansKR-Bold-Hestia.eot?#iefix') format('embedded-opentype'), 
    url('../digital_showroom/fonts/NotoSansKR-Bold-Hestia.woff') format('woff'), url('../digital_showroom/fonts/NotoSansKR-Bold-Hestia.ttf') format('truetype'),
    url('../digital_showroom/fonts/NotoSansKR-Bold-Hestia.svg#NotoSansKR-Bold-Hestia') format('svg');
  font-weight: 900;
  font-style: normal;
}
/* fonts end */

/* reset start */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    -webkit-tap-highlight-color:rgba(255,255,255,0);
    -moz-tap-highlight-color:rgba(255,255,255,0);
    box-sizing:border-box;
}
body {
    line-height: 1;
    -webkit-overflow-scrolling:touch;
}
article, aside, details, figcaption, figure, footer, header, menu, nav, section {
    display: block;
}
html {
    font-family:sans-serif;
    -ms-text-size-adjust:100%; /* ie */
    -webkit-text-size-adjust:100%; /* IOS */
    -moz-text-size-adjust:100%;
    text-size-adjust:100%;
}
ol, ul {
    list-style: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
img {
    vertical-align:middle;
    border:0;
}
a {
    font-family:inherit;
    color:inherit;
    text-decoration:none;
}
.clearfix:after {
    content:'';
    clear:both;
    display:block;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
textarea, select  {
    appearance:none; 
    -webkit-appearance:none; 
    -moz-appearance:none; 
    border-radius:0; 
    -webkit-border-radius:0; 
    box-sizing:border-box; 
    -webkit-box-sizing:border-box;
}
input {
    line-height:normal;
    border-radius:0; 
    -webkit-border-radius:0; 
    box-sizing:border-box; 
    -webkit-box-sizing:border-box;
}
input[type="text"], input[type="password"], input[type="tel"], input[type="url"], input[type="email"], input[type="number"] {
    appearance:none; 
    -webkit-appearance:none; 
    -moz-appearance:none; 
    border-radius:0; 
    -webkit-border-radius:0; 
}
input[type="checkbox"], input[type="radio"] { 
    box-sizing: border-box; 
    padding: 0;
} 
button, input[type="button"] {
    background:none;
    border:none;
    padding:0;
    margin:0;
    appearance:none; 
    -webkit-appearance:none; 
    -moz-appearance:none; 
    border-radius:0; 
    -webkit-border-radius:0; 
    cursor:pointer;
}
button[disabled], input[disabled] {
    cursor: default;
}
/* reset end */

/* initialize start*/
body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd,
table, th, td, form, fieldset, legend, input, textarea,
select, button, article, aside, canvas, details, figcaption,
figure, footer, header, hgroup, menu, nav, section, audio, video {
  margin: 0;
  padding: 0;
}
body {
  color: #333;
  font-style: normal;
  font-size: 18px;
  line-height: 1.666;
  font-family: AppleSDGothicNeo-Regular, 'notokr', '맑은고딕', Malgun Gothic, sans-serif;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6, dt, b, mark {
  font-weight: normal;
}
img, fieldset, iframe, button {
  border: 0 none;
}
li {
  list-style: none;
}
button,
mark {
  background: transparent;
  cursor: pointer;
  vertical-align: middle;
  font-family: AppleSDGothicNeo-Regular, 'notokr', '맑은고딕', Malgun Gothic, sans-serif;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
th, td {
  border-collapse: collapse;
}
hr {
  display: none;
}
form {
  display: inline;
}
select, input, textarea {
  padding: 0;
  color: #333;
  font-size: 16px;
  font-family: AppleSDGothicNeo-Regular, 'notokr', '맑은고딕', Malgun Gothic, sans-serif;
  vertical-align: middle;
  resize: none;
  -webkit-appearance: none;
  border-radius: 0;
  border: none;
  box-sizing: border-box;
  outline: none;
  background-color: transparent;
}
input::-ms-clear,
select::-ms-expand {
  display: none;
}
i, em, u, cite, mark, address {
  font-style: normal;
}
a {
  text-decoration: none;
}
main {
  display: block;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
::placeholder {
  color: #bdbdbd;
  font-size: 16px;
}
::-webkit-input-placeholder {
  color: #bdbdbd;
  font-size: 16px;
}
:-moz-placeholder {
  color: #bdbdbd;
  font-size: 16px;
}
::-moz-placeholder {
  color: #bdbdbd;
  font-size: 16px;
}
:-ms-input-placeholder {
  color: #bdbdbd;
  font-size: 16px;
}
:disabled {
  opacity: 0.2;
}
html, body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  word-break: keep-all;
}
/* initialize end */