@charset "utf-8";

/* fonts start */
@import url("https://fast.fonts.net/lt/1.css?apiType=css&c=de82f655-0e98-4b3b-b570-770f4c0e3623&fontids=6005180,6005194,6005206,6005218,6005230,6005241,6005253,6005265,6005276,6005286,6005298,6005310,6005322,6005334");

@font-face{
	font-family:"Century Gothic W05 Thin";
	src:url("../fonts/century/6005180/151b2086-1991-4624-a1b6-13926a20cd2f.woff2") format("woff2"),url("../fonts/century/6005180/a59ba227-30f8-42e1-aae1-508b92a98472.woff") format("woff");
}
@font-face{
	font-family:"Century Gothic W05 Thin Italic";
	src:url("../fonts/century/6005194/2f150b9f-d019-4f21-a6b8-42ffaae73306.woff2") format("woff2"),url("../fonts/century/6005194/fa69fee8-e976-4117-adae-179ff8c7f710.woff") format("woff");
}
@font-face{
	font-family:"Century Gothic W05 Light";
	src:url("../fonts/century/6005206/35cd8801-f350-4cb6-9453-7a6b3b71f79e.woff2") format("woff2"),url("../fonts/century/6005206/02dc229e-a425-497c-a968-8a87229f68c0.woff") format("woff");
}
@font-face{
	font-family:"Century Gothic W05 Light Itali";
	src:url("../fonts/century/6005218/a232bb64-e6bd-4d72-a3fd-85876d3662b1.woff2") format("woff2"),url("../fonts/century/6005218/c0f416b9-5a3f-4c3c-932f-02685c5cd82b.woff") format("woff");
}
@font-face{
	font-family:"Century Gothic W05 Regular";
	src:url("../fonts/century/6005230/f511511a-63a8-45a4-8f43-959006da1991.woff2") format("woff2"),url("../fonts/century/6005230/1cc7d3a1-9616-489b-b078-fa3c4799cd8a.woff") format("woff");
}
@font-face{
	font-family:"Century Gothic W05 Italic";
	src:url("../fonts/century/6005241/0dff58b7-4281-4bc5-bd83-3b5915daa86e.woff2") format("woff2"),url("../fonts/century/6005241/4ce874a4-dfd5-41c3-8668-c77b015ab055.woff") format("woff");
}
@font-face{
	font-family:"Century Gothic W05 SemiBold";
	src:url("../fonts/century/6005253/7aa1a932-4348-4bd8-aefb-42b044797852.woff2") format("woff2"),url("../fonts/century/6005253/50f194ac-f671-4682-8636-5a8c45eba9ba.woff") format("woff");
}
@font-face{
	font-family:"Century Gothic W05 SemiBold It";
	src:url("../fonts/century/6005265/5da7c97b-e728-4741-9884-519c7f1053a7.woff2") format("woff2"),url("../fonts/century/6005265/2392e225-6580-4e4f-b3e0-ad6b894ed2f9.woff") format("woff");
}
@font-face{
	font-family:"Century Gothic W05 Bold";
	src:url("../fonts/century/6005276/b12fce6d-1212-4e0a-8d70-d15379749cb9.woff2") format("woff2"),url("../fonts/century/6005276/04298db1-df5a-4858-9cb9-3990c5547fb2.woff") format("woff");
}
@font-face{
	font-family:"Century Gothic W05 Bold Italic";
	src:url("../fonts/century/6005286/3279c216-0212-4ef7-ac3a-02e24b302c90.woff2") format("woff2"),url("../fonts/century/6005286/d3b91ac2-9291-4250-859b-f1be7f25f938.woff") format("woff");
}
@font-face{
	font-family:"Century Gothic W05 ExtraBold";
	src:url("../fonts/century/6005298/4fbe9e5f-cd2e-46ab-99d5-a4fc155d249a.woff2") format("woff2"),url("../fonts/century/6005298/5ec6feaa-1aa2-4631-9b5e-7c6982ce0e7c.woff") format("woff");
}
@font-face{
	font-family:"Century Gothic W05 ExtraBold I";
	src:url("../fonts/century/6005310/53d9538b-2db5-48c4-adcc-a83000118d54.woff2") format("woff2"),url("../fonts/century/6005310/70f0cc1c-6031-4150-b400-f710bcc3652e.woff") format("woff");
}
@font-face{
	font-family:"Century Gothic W05 Black";
	src:url("../fonts/century/6005322/a5a5fbdb-dfc6-4fcb-9882-cff3422f37ac.woff2") format("woff2"),url("../fonts/century/6005322/0e259a67-afaa-4287-a610-88a14faae369.woff") format("woff");
}
@font-face{
	font-family:"Century Gothic W05 Black Itali";
	src:url("../fonts/century/6005334/59ce9b2e-9aa9-43db-83de-c1ba77e081db.woff2") format("woff2"),url("../fonts/century/6005334/b08f19e7-c39f-48db-a0a4-9ed9b7eb7948.woff") format("woff");
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-Bold.eot');
  src: url('../fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Gotham-Bold.woff2') format('woff2'),
    url('../fonts/Gotham-Bold.woff') format('woff'), url('../fonts/Gotham-Bold.otf') format('opentype'), url('../fonts/Gotham-Bold.svg#Gotham') format('svg');
}
@font-face {
  font-family: 'Gotham-Regular';
  src: url('../fonts/Gotham-Bold.eot');
  src: url('../fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Gotham-Bold.woff2') format('woff2'),
    url('../fonts/Gotham-Bold.woff') format('woff'), url('../fonts/Gotham-Bold.otf') format('opentype'), url('../fonts/Gotham-Bold.svg#Gotham') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham-Logo';
  src: url('../fonts/Gotham-Bold.eot');
  src: url('../fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Gotham-Bold.woff2') format('woff2'),
    url('../fonts/Gotham-Bold.woff') format('woff'), url('../fonts/Gotham-Bold.otf') format('opentype'), url('../fonts/Gotham-Bold.svg#Gotham') format('svg');
  unicode-range: U+67, U+6C, U+6F, U+2122;
}
@font-face {
  font-family: 'Gotham-Medium';
  src: url('../fonts/Gotham-Medium.eot');
  src: url('../fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Gotham-Medium.woff2') format('woff2'),
    url('../fonts/Gotham-Medium.woff') format('woff'), url('../fonts/Gotham-Medium.ttf') format('truetype'),
    url('../fonts/Gotham-Medium.svg#Gotham-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham-Regular';
  src: url('../fonts/Gotham-Medium.eot');
  src: url('../fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Gotham-Medium.woff2') format('woff2'),
    url('../fonts/Gotham-Medium.woff') format('woff'), url('../fonts/Gotham-Medium.ttf') format('truetype'),
    url('../fonts/Gotham-Medium.svg#Gotham-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham-Medium-Bold';
  src: url('../fonts/Gotham-Medium.eot');
  src: url('../fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Gotham-Medium.woff2') format('woff2'),
    url('../fonts/Gotham-Medium.woff') format('woff'), url('../fonts/Gotham-Medium.ttf') format('truetype'),
    url('../fonts/Gotham-Medium.svg#Gotham-Medium') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham-Medium-Logo';
  src: url('../fonts/Gotham-Medium.eot');
  src: url('../fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Gotham-Medium.woff2') format('woff2'),
    url('../fonts/Gotham-Medium.woff') format('woff'), url('../fonts/Gotham-Medium.ttf') format('truetype'),
    url('../fonts/Gotham-Medium.svg#Gotham-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
  unicode-range: U+67, U+6C, U+6F, U+2122;
}
@font-face {
  font-family: 'Gotham-Book';
  src: url('../fonts/Gotham-Book.eot');
  src: url('../fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'), url('../fonts/Gotham-Book.woff2') format('woff2'),
    url('../fonts/Gotham-Book.woff') format('woff'), url('../fonts/Gotham-Book.ttf') format('truetype'), url('../fonts/Gotham-Book.svg#Gotham') format('svg');
}
@font-face {
  font-family: 'Gotham-Regular';
  src: url('../fonts/Gotham-Book.eot');
  src: url('../fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'), url('../fonts/Gotham-Book.woff2') format('woff2'),
    url('../fonts/Gotham-Book.woff') format('woff'), url('../fonts/Gotham-Book.ttf') format('truetype'), url('../fonts/Gotham-Book.svg#Gotham') format('svg');
}
@font-face {
  font-family: 'Gotham-Book-Logo';
  src: url('../fonts/Gotham-Book.eot');
  src: url('../fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'), url('../fonts/Gotham-Book.woff2') format('woff2'),
    url('../fonts/Gotham-Book.woff') format('woff'), url('../fonts/Gotham-Book.ttf') format('truetype'), url('../fonts/Gotham-Book.svg#Gotham') format('svg');
  unicode-range: U+67, U+6C, U+6F, U+2122;
}

@font-face {
  font-family: 'GothamBlack';
  src: url('../fonts/GothamBlack.eot');
  src: url('../fonts/GothamBlack.eot?#iefix') format('embedded-opentype'), url('../fonts/GothamBlack.woff2') format('woff2'),
    url('../fonts/GothamBlack.woff') format('woff'), url('../fonts/GothamBlack.otf') format('opentype'), url('../fonts/GothamBlack.svg#Gotham') format('svg');
}
@font-face {
  font-family: 'GothamExtraLight';
  src: url('../fonts/GothamExtraLight.eot');
  src: url('../fonts/GothamExtraLight.eot?#iefix') format('embedded-opentype'), url('../fonts/GothamExtraLight.woff2') format('woff2'),
    url('../fonts/GothamExtraLight.woff') format('woff'), url('../fonts/GothamExtraLight.otf') format('opentype'), url('../fonts/GothamExtraLight.svg#Gotham') format('svg');
}
@font-face {
  font-family: 'GothamLight';
  src: url('../fonts/GothamLight.eot');
  src: url('../fonts/GothamLight.eot?#iefix') format('embedded-opentype'), url('../fonts/GothamLight.woff2') format('woff2'),
    url('../fonts/GothamLight.woff') format('woff'), url('../fonts/GothamLight.otf') format('opentype'), url('../fonts/GothamLight.svg#Gotham') format('svg');
}
@font-face {
  font-family: 'GothamThin';
  src: url('../fonts/GothamThin.eot');
  src: url('../fonts/GothamThin.eot?#iefix') format('embedded-opentype'), url('../fonts/GothamThin.woff2') format('woff2'),
    url('../fonts/GothamThin.woff') format('woff'), url('../fonts/GothamThin.otf') format('opentype'), url('../fonts/GothamThin.svg#Gotham') format('svg');
}

@font-face {
    font-family: 'notokr';
    src: url('../fonts/notokr-light.eot');
    src: url('../fonts/notokr-light.eot?#iefix') format('embedded-opentype'), url('../fonts/notokr-light.woff2') format('woff2'),
      url('../fonts/notokr-light.woff') format('woff'), url('../fonts/notokr-light.ttf') format('truetype'),
      url('../fonts/notokr-light.svg#notokr-light') format('svg');
    font-weight: 300;
    font-style: normal;
  }

@font-face {
  font-family: 'notokr';
  src: url('../fonts/notokr-regular.eot');
  src: url('../fonts/notokr-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/notokr-regular.woff2') format('woff2'),
    url('../fonts/notokr-regular.woff') format('woff'), url('../fonts/notokr-regular.ttf') format('truetype'),
    url('../fonts/notokr-regular.svg#notokr-regular') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'notokr';
  src: url('../fonts/notokr-medium.eot');
  src: url('../fonts/notokr-medium.eot?#iefix') format('embedded-opentype'), url('../fonts/notokr-medium.woff2') format('woff2'),
    url('../fonts/notokr-medium.woff') format('woff'), url('../fonts/notokr-medium.ttf') format('truetype'),
    url('../fonts/notokr-medium.svg#notokr-bold') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
    font-family: 'notokr';
    src: url('../fonts/notokr-bold.eot');
    src: url('../fonts/notokr-bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/notokr-bold.woff2') format('woff2'),
    url('../fonts/notokr-bold.woff') format('woff'), 
    url('../fonts/notokr-bold.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
  }

@font-face {
  font-family: 'notokr-bold';
  src: url('../fonts/NotoSansKR-Bold-Hestia.eot');
  src: url('../fonts/NotoSansKR-Bold-Hestia.eot?#iefix') format('embedded-opentype'), 
    url('../fonts/NotoSansKR-Bold-Hestia.woff') format('woff'), url('../fonts/NotoSansKR-Bold-Hestia.ttf') format('truetype'),
    url('../fonts/NotoSansKR-Bold-Hestia.svg#NotoSansKR-Bold-Hestia') format('svg');
  font-weight: 900;
  font-style: normal;
}
/* fonts end */

/* initialize start*/
body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd,
table, th, td, form, fieldset, legend, input, textarea,
select, button, article, aside, canvas, details, figcaption,
figure, footer, header, hgroup, menu, nav, section, audio, video {
  margin: 0;
  padding: 0;
}
body {
  color: #333;
  font-style: normal;
  font-size: 18px;
  line-height: 1.666;
  font-family: AppleSDGothicNeo-Regular, 'notokr', '맑은고딕', Malgun Gothic, sans-serif;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6, dt, b, mark {
  font-weight: normal;
}
img, fieldset, iframe, button {
  border: 0 none;
}
li {
  list-style: none;
}
button,
mark {
  background: transparent;
  cursor: pointer;
  vertical-align: middle;
  font-family: AppleSDGothicNeo-Regular, 'notokr', '맑은고딕', Malgun Gothic, sans-serif;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
th, td {
  border-collapse: collapse;
}
hr {
  display: none;
}
form {
  display: inline;
}
select, input, textarea {
  padding: 0;
  color: #333;
  font-size: 16px;
  font-family: AppleSDGothicNeo-Regular, 'notokr', '맑은고딕', Malgun Gothic, sans-serif;
  vertical-align: middle;
  resize: none;
  -webkit-appearance: none;
  border-radius: 0;
  border: none;
  box-sizing: border-box;
  outline: none;
  background-color: transparent;
}
input::-ms-clear,
select::-ms-expand {
  display: none;
}
i, em, u, cite, mark, address {
  font-style: normal;
}
a {
  text-decoration: none;
}
main {
  display: block;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
::placeholder {
  color: #bdbdbd;
  font-size: 16px;
}
::-webkit-input-placeholder {
  color: #bdbdbd;
  font-size: 16px;
}
:-moz-placeholder {
  color: #bdbdbd;
  font-size: 16px;
}
::-moz-placeholder {
  color: #bdbdbd;
  font-size: 16px;
}
:-ms-input-placeholder {
  color: #bdbdbd;
  font-size: 16px;
}
:disabled {
  opacity: 0.2;
}
html, body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  word-break: keep-all;
}
/* initialize end */

/* body */
body.body-product {
    background-color: #f7f7f7;
  }

/* buttons */
[class*='btnf-'] {
    display: inline-flex;
    min-width: 150px;
    height: 50px;
    padding: 0 25px;
    font-size: 18px;
    line-height: 2.1;
    font-weight: 700;
    letter-spacing: -0.025em;
    border: 1px solid #333;
    color: #333;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    vertical-align: middle;
    white-space: nowrap;
  }
  .btnf-line-gray {
    border-color: #ccc;
  }
  .btnf-line-orange {
    border-color: #e35205;
    color: #e35205;
  }
  .btnf-line-orange:disabled {
    border: 1px solid #333;
    color: #333;
  }
  .btnf-line-white {
    color: #fff;
    border-color: #fff;
  }
  .btnf-fill-orange {
    border-color: #e35205;
    color: #fff;
    background-color: #e35205;
  }
  .btnf-fill-orange:disabled {
    color: #fff;
    background-color: #333;
    border: 1px solid #333;
  }
  .btnf-fill-black {
    color: #fff;
    background-color: #333;
  }
  
  [class*='btnm-'] {
    display: inline-flex;
    min-width: 100px;
    height: 46px;
    padding: 0 10px;
    font-size: 16px;
    line-height: 2.1;
    letter-spacing: -0.025em;
    color: #fff;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    vertical-align: middle;
  }
  .btnm-gray {
    background-color: #4a4d5b;
  }
  .btnm-black {
    background-color: #333;
  }
  .btnm-search {
    position: relative;
    min-width: auto !important;
    width: 46px;
    min-width: auto;
    font-size: 0;
    text-indent: -300px;
    overflow: hidden;
    background: #4a4d5b url('/images/2019/icon-search-address.png') no-repeat 50% 50%;
    background-size: 21px 21px;
  }
  .btnm-calendar {
    min-width: initial;
    width: 46px;
    background: #4a4d5b url('/images/2019/icon-calendar.png') no-repeat 50% 50%;
    background-size: 18px 20px;
    text-indent: -5000px;
    overflow: hidden;
  }
  
  [class*='btns-'] {
    display: inline-flex;
    min-width: 72px;
    height: 26px;
    padding: 0 14px;
    font-size: 14px;
    line-height: 1.8;
    font-weight: 700;
    color: #fff;
    border-radius: 13px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    vertical-align: middle;
  }
  .btns-fill-gray {
    border: 1px solid #4a4d5b;
    background-color: #4a4d5b;
  }
  .btns-fill-lightgray {
    border-color: 1px solid rgba(102, 102, 102, 0.66);
    background-color: rgba(102, 102, 102, 0.66);
  }
  .btns-fill-orange {
    border: 1px solid #e35205;
    background-color: #e35205;
  }
  .btns-fill-orange:disabled {
    background-color: #333;
    border-color: #333;
  }
  .btns-fill-navi {
    border: 1px solid #425563;
    background-color: #425563;
  }
  .btns-line-orange {
    border: 1px solid #e35205;
    color: #e35205;
  }
  .btns-line-gray {
    color: #333;
    border: 1px solid #333;
  }
  .btns-line-orange:disabled {
    border-color: #333;
    color: #333;
  }
  
  .btn-delete {
    /*width: 48px;
    height: 48px;*/
    width: 42px;
    height: 42px;
    text-indent: -5000px;
    overflow: hidden;
    background: url('/images/2019/btn-aside-close.png') no-repeat 50% 50%;
    background-size: 14px 14px;
  }
  .btn-play {
    width: 120px;
    height: 120px;
    background: url('/images/2019/btn-play.png') no-repeat;
    background-size: cover;
    overflow: hidden;
    text-indent: -999em;
  }
  @media (max-width: 767px) {
    [class*='btnf-'] {
      height: 44px;
      font-size: 16px;
      padding: 0 18px;
    }
    .btn-play {
      width: 60px;
      height: 60px;
    }
    [class*='btnm-'] {
      min-width: 78px;
    }
    [class*='btns-'] {
      min-width: 51px;
      height: 22px;
      font-size: 12px;
      padding: 0 9px;
      line-height: 1.1;
    }
  }
  
  .btnarea-foot {
    padding-top: 60px;
    font-size: 0;
    text-align: center;
  }
  .btnarea-foot [class*='btnf-'] {
    min-width: 150px;
    margin: 0 4px;
  }
  .btnarea-foot [class*='btnf-']:first-child {
    margin-left: 0;
  }
  .btnarea-foot [class*='btnf-']:last-child {
    margin-right: 0;
  }
  @media (max-width: 767px) {
    .btnarea-foot {
      display: flex;
      justify-content: center;
      padding-top: 40px;
    }
    .btnarea-foot [class*='btnf-'] {
      flex: 1;
      min-width: initial;
    }
  }

/* modal */
.modal-dimmed {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 80;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
}
.modal-dimmed.show {
    opacity: 1;
    visibility: visible;
}

/* layout */
.glo-wrap {
  position: relative;
  display: flex;
  min-width: 320px;
  max-width: 1920px;
  margin: 0 auto;
  flex-direction: column;
}

.glo-contents {
  flex: 1 0 auto;
}

.glo-restrict {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}



/* plugins */
/**
 * Swiper 4.5.0
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 * http://www.idangero.us/swiper/
 *
 * Copyright 2014-2019 Vladimir Kharlampidi
 *
 * Released under the MIT License
 *
 * Released on:February 22, 2019
 */
 .swiper-container {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}

.swiper-container-no-flexbox .swiper-slide {
  float: left;
}

.swiper-container-vertical > .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.swiper-container-android .swiper-slide,
.swiper-wrapper {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.swiper-container-multirow > .swiper-wrapper {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.swiper-container-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  margin: 0 auto;
}

.swiper-slide {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.swiper-slide-invisible-blank {
  visibility: hidden;
}

.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide {
  height: auto;
}

.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-transition-property: height, -webkit-transform;
  transition-property: height, -webkit-transform;
  -o-transition-property: transform, height;
  transition-property: transform, height;
  transition-property: transform, height, -webkit-transform;
}

.swiper-container-3d {
  -webkit-perspective: 1200px;
  perspective: 1200px;
}

.swiper-container-3d .swiper-cube-shadow,
.swiper-container-3d .swiper-slide,
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-wrapper {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}

.swiper-container-3d .swiper-slide-shadow-left {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-container-3d .swiper-slide-shadow-right {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-container-3d .swiper-slide-shadow-top {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-container-3d .swiper-slide-shadow-bottom {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-container-wp8-horizontal,
.swiper-container-wp8-horizontal > .swiper-wrapper {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}

.swiper-container-wp8-vertical,
.swiper-container-wp8-vertical > .swiper-wrapper {
  -ms-touch-action: pan-x;
  touch-action: pan-x;
}
.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 50%;
  width: 27px;
  height: 44px;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  background-size: 27px 44px;
  background-position: center;
  background-repeat: no-repeat;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
  left: 10px;
  right: auto;
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
  right: 10px;
  left: auto;
}

.swiper-button-prev.swiper-button-white,
.swiper-container-rtl .swiper-button-next.swiper-button-white {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
}

.swiper-button-next.swiper-button-white,
.swiper-container-rtl .swiper-button-prev.swiper-button-white {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
}

.swiper-button-prev.swiper-button-black,
.swiper-container-rtl .swiper-button-next.swiper-button-black {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E");
}

.swiper-button-next.swiper-button-black,
.swiper-container-rtl .swiper-button-prev.swiper-button-black {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E");
}

.swiper-button-lock {
  display: none;
}

.swiper-pagination {
  position: absolute;
  text-align: center;
  -webkit-transition: 0.3s opacity;
  -o-transition: 0.3s opacity;
  transition: 0.3s opacity;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 10;
}

.swiper-pagination.swiper-pagination-hidden {
  opacity: 0;
}

.swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.swiper-pagination-bullets-dynamic {
  overflow: hidden;
  font-size: 0;
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  -webkit-transform: scale(0.33);
  -ms-transform: scale(0.33);
  transform: scale(0.33);
  position: relative;
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
  -webkit-transform: scale(0.66);
  -ms-transform: scale(0.66);
  transform: scale(0.66);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
  -webkit-transform: scale(0.33);
  -ms-transform: scale(0.33);
  transform: scale(0.33);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
  -webkit-transform: scale(0.66);
  -ms-transform: scale(0.66);
  transform: scale(0.66);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
  -webkit-transform: scale(0.33);
  -ms-transform: scale(0.33);
  transform: scale(0.33);
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 100%;
  background: #000;
  opacity: 0.2;
}

button.swiper-pagination-bullet {
  border: none;
  margin: 0;
  padding: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #007aff;
}

.swiper-container-vertical > .swiper-pagination-bullets {
  right: 10px;
  top: 50%;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
}

.swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 6px 0;
  display: block;
}

.swiper-container-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 8px;
}

.swiper-container-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  display: inline-block;
  -webkit-transition: 0.2s top, 0.2s -webkit-transform;
  transition: 0.2s top, 0.2s -webkit-transform;
  -o-transition: 0.2s transform, 0.2s top;
  transition: 0.2s transform, 0.2s top;
  transition: 0.2s transform, 0.2s top, 0.2s -webkit-transform;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 4px;
}

.swiper-container-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  white-space: nowrap;
}

.swiper-container-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  -webkit-transition: 0.2s left, 0.2s -webkit-transform;
  transition: 0.2s left, 0.2s -webkit-transform;
  -o-transition: 0.2s transform, 0.2s left;
  transition: 0.2s transform, 0.2s left;
  transition: 0.2s transform, 0.2s left, 0.2s -webkit-transform;
}

.swiper-container-horizontal.swiper-container-rtl > .swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  -webkit-transition: 0.2s right, 0.2s -webkit-transform;
  transition: 0.2s right, 0.2s -webkit-transform;
  -o-transition: 0.2s transform, 0.2s right;
  transition: 0.2s transform, 0.2s right;
  transition: 0.2s transform, 0.2s right, 0.2s -webkit-transform;
}

.swiper-pagination-progressbar {
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: #007aff;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
}

.swiper-container-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  -webkit-transform-origin: right top;
  -ms-transform-origin: right top;
  transform-origin: right top;
}

.swiper-container-horizontal > .swiper-pagination-progressbar,
.swiper-container-vertical > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
  width: 100%;
  height: 4px;
  left: 0;
  top: 0;
}

.swiper-container-horizontal > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite,
.swiper-container-vertical > .swiper-pagination-progressbar {
  width: 4px;
  height: 100%;
  left: 0;
  top: 0;
}

.swiper-pagination-white .swiper-pagination-bullet-active {
  background: #fff;
}

.swiper-pagination-progressbar.swiper-pagination-white {
  background: rgba(255, 255, 255, 0.25);
}

.swiper-pagination-progressbar.swiper-pagination-white .swiper-pagination-progressbar-fill {
  background: #fff;
}

.swiper-pagination-black .swiper-pagination-bullet-active {
  background: #000;
}

.swiper-pagination-progressbar.swiper-pagination-black {
  background: rgba(0, 0, 0, 0.25);
}

.swiper-pagination-progressbar.swiper-pagination-black .swiper-pagination-progressbar-fill {
  background: #000;
}

.swiper-pagination-lock {
  display: none;
}

.swiper-scrollbar {
  border-radius: 10px;
  position: relative;
  -ms-touch-action: none;
  background: rgba(0, 0, 0, 0.1);
}

.swiper-container-horizontal > .swiper-scrollbar {
  position: absolute;
  left: 1%;
  bottom: 3px;
  z-index: 50;
  height: 5px;
  width: 98%;
}

.swiper-container-vertical > .swiper-scrollbar {
  position: absolute;
  right: 3px;
  top: 1%;
  z-index: 50;
  width: 5px;
  height: 98%;
}

.swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  left: 0;
  top: 0;
}

.swiper-scrollbar-cursor-drag {
  cursor: move;
}

.swiper-scrollbar-lock {
  display: none;
}

.swiper-zoom-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.swiper-zoom-container > canvas,
.swiper-zoom-container > img,
.swiper-zoom-container > svg {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.swiper-slide-zoomed {
  cursor: move;
}

.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  -webkit-transform-origin: 50%;
  -ms-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-animation: swiper-preloader-spin 1s steps(12, end) infinite;
  animation: swiper-preloader-spin 1s steps(12, end) infinite;
}

.swiper-lazy-preloader:after {
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-position: 50%;
  background-size: 100%;
  background-repeat: no-repeat;
}

.swiper-lazy-preloader-white:after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}

@-webkit-keyframes swiper-preloader-spin {
  100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}

@keyframes swiper-preloader-spin {
  100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}

.swiper-container .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000;
}

.swiper-container-fade.swiper-container-free-mode .swiper-slide {
  -webkit-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.swiper-container-fade .swiper-slide {
  pointer-events: none;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}

.swiper-container-fade .swiper-slide .swiper-slide {
  pointer-events: none;
}

.swiper-container-fade .swiper-slide-active,
.swiper-container-fade .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}

.swiper-container-cube {
  overflow: visible;
}

.swiper-container-cube .swiper-slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1;
  visibility: hidden;
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  width: 100%;
  height: 100%;
}

.swiper-container-cube .swiper-slide .swiper-slide {
  pointer-events: none;
}

.swiper-container-cube.swiper-container-rtl .swiper-slide {
  -webkit-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
}

.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}

.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-next,
.swiper-container-cube .swiper-slide-next + .swiper-slide,
.swiper-container-cube .swiper-slide-prev {
  pointer-events: auto;
  visibility: visible;
}

.swiper-container-cube .swiper-slide-shadow-bottom,
.swiper-container-cube .swiper-slide-shadow-left,
.swiper-container-cube .swiper-slide-shadow-right,
.swiper-container-cube .swiper-slide-shadow-top {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.swiper-container-cube .swiper-cube-shadow {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.6;
  -webkit-filter: blur(50px);
  filter: blur(50px);
  z-index: 0;
}

.swiper-container-flip {
  overflow: visible;
}

.swiper-container-flip .swiper-slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1;
}

.swiper-container-flip .swiper-slide .swiper-slide {
  pointer-events: none;
}

.swiper-container-flip .swiper-slide-active,
.swiper-container-flip .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}

.swiper-container-flip .swiper-slide-shadow-bottom,
.swiper-container-flip .swiper-slide-shadow-left,
.swiper-container-flip .swiper-slide-shadow-right,
.swiper-container-flip .swiper-slide-shadow-top {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.swiper-container-coverflow .swiper-wrapper {
  -ms-perspective: 1200px;
}

.swiper-button-prev,
.swiper-button-next {
  width: 34px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: 34px auto;
  margin-top: -7px;
}

.swiper-button-prev {
  background-image: url('/images/2019/btn-arrow-prev@2x.png');
}

.swiper-button-prev.black {
  background-image: url('/images/2019/btn-arrow-prev-black@2x.png');
}

.swiper-button-prev.gray {
  background-image: url('/images/2019/btn-arrow-prev-gray@2x.png');
}

.swiper-button-next {
  background-image: url('/images/2019/btn-arrow-next@2x.png');
}

.swiper-button-next.black {
  background-image: url('/images/2019/btn-arrow-next-black@2x.png');
}

.swiper-button-next.gray {
  background-image: url('/images/2019/btn-arrow-next-gray@2x.png');
}

.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 23px;
  font-size: 0;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: #fff;
  opacity: 0.4;
  border-radius: 5px;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-indicator {
  position: absolute;
  top: 0;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: #fff;
  opacity: 1;
  border-radius: 5px;
}

.swiper-pagination.black .swiper-pagination-bullet {
  background-color: #000;
}

@media (max-width: 767px) {
  .swiper-container-horizontal > .swiper-pagination-bullets {
      bottom: 17px;
  }

  .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
      width: 6px;
      height: 6px;
      margin: 0 3px;
      border-radius: 3px;
  }

  .swiper-container-horizontal > .swiper-pagination-bullets .swiper-indicator {
      width: 6px;
      height: 6px;
      margin: 0 3px;
      border-radius: 3px;
  }
}

.swiper-container-horizontal > .swiper-scrollbar {
  left: 0;
  right: 0;
  bottom: 0;
  width: 384px;
  margin: 0 auto;
  height: 4px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 0;
}

.swiper-container-horizontal > .swiper-scrollbar .swiper-scrollbar-drag {
  height: 4px;
  background: rgba(0, 0, 0, 1);
  border-radius: 0;
}
